= render partial: 'shared/side_bar', locals: { group: @group }

.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        = @group.name
      = link_to edit_group_path(@group.id), class: 'chat-main__header--group-edit-btn' do
        Edit
    .chat-main__header--members
      Members:
  .chat-main__body
    = render partial: 'message', collection: @messages

  .chat-main__footer
    = form_for [@group, @message], html: {class: 'chat-main__footer-form'} do |f|
      = f.text_field :content, class: 'chat-main__footer-body', placeholder: 'type a message'
      = f.label :image, class: 'upload-icon' do
        = fa_icon 'picture-o'
        = f.file_field :image, class: 'none'
      = f.submit 'Send', class: 'submit-btn'
